<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>3D Platformer</string>
    <key>CFBundleIdentifier</key>
    <string>net.monogame.platformer3d.ios</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>XSAppIconAssets</key>
    <string>AppIcon.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
